/docs-xml/Makefile
/docs-xml/Makefile.orig
/docs-xml/Makefile.settings
/docs-xml/autom4te.cache
/docs-xml/build/catalog.xml
/docs-xml/config.log
/docs-xml/config.stamp
/docs-xml/config.status
/docs-xml/htmldocs.html
/docs-xml/smbdotconf/generate-context.xsl
/docs-xml/smbdotconf/generate-file-list.sh
/docs-xml/templates
/docs-xml/xslt/expand-sambadoc.xsl
/docs-xml/xslt/generate-attributions.xsl
/docs-xml/xslt/html-chunk.xsl
/docs-xml/xslt/html-common.xsl
/docs-xml/xslt/html.xsl
/docs-xml/xslt/html/
/docs-xml/xslt/latex.xsl
/docs-xml/xslt/man.xsl
/docs-xml/xslt/manpage-summary.xsl
/docs-xml/xslt/strip-references.xsl
